<div class="div-body">
  <div class="container-menu">
    <button routerLink="/home" class="btn second-color">Inicio</button>
  </div>

  <div class="profile-container">
    <img src="yo.jpg" alt="Foto del alumno" class="profile-pic" />
    <h1>Gerardo Toranzo</h1>
    <p>gerardo.m.toranzo&#64;gmail.com</p>

    <div class="game-description">
      <h2>Mi Juego</h2>
      <p>
        Va a ser un clasico buscaminas, tipico juego donde se generan ciertas
        bombas en una matriz y tenes que ir descubriendo donde se encuentran sin
        apretar la casilla de las bombas.
      </p>
    </div>
  </div>
</div>
